// Footer
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  background-color: $veryDarkBlackBlue;
  border-top-right-radius: 7rem;

  img {
    margin: 1rem 0;
  }
}

.footer {
  color: $white;
  text-align: center;
  line-height: 2;
}

.footer-item {
  margin-bottom: 2rem;
  font-weight: 600;

  &__childrens {
    margin-top: .5rem;
    font-size: .7rem;
    font-weight: 200;

    li a {
      color: $grayishBlue;

      &:hover {
        color: $veryDarkGrayishBlue;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    text-align: left;
    gap: 0 6rem;
    &-item {
      justify-self: center;
    }
  }
}