@import "header";
@import "navbar";
@import "hero";
@import "main";
@import "footer";

// Layout
.layout {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 600px) {
  .navbar,
  .hero
   {
    max-width: 900px;
    margin: 0 auto;
  }
}