// Main
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.article{
  margin: 4rem 0;
  &--header {
    font-size: 1.5rem;
    font-weight: 600;
    color: $veryDarkBlue;
  }
  &--description {
    color: $veryDarkGrayishBlue;
    font-size: .8rem;
    font-weight: 200;
    line-height: 2;
  }
}
.section__img {
  width: 100%;
}

// Second section
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10rem;
  margin-bottom: 5rem;
  height: auto;

  .section__img {
    position: absolute;
    top: -170px;
    width: 100%;
  }
  &__header{
    margin-top: 7rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 121%;
    height: 28rem;
    color: $white;
    overflow: hidden;
    background: linear-gradient(to bottom right, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
    background-size: 140%;
    border-bottom-left-radius: 7rem;
    border-top-right-radius: 7rem;
    z-index: -1;
    img {
      width: 140%;
      position: absolute;
      top: -250px;
      z-index: 0;
    }
    p {
      width: 80%;
    }
  }
}

.text--white {
  margin-top: 0;
  color: white;
}