// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-right: 2rem;
  }
}

.navbar__right {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  
  .btn-wrapper {
    justify-content: flex-end;
    
    button:first-child {
      margin-right: 2rem;
    }
  }
}

.nav-dropdown {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  &-item {
    font-size: 1.1rem;
    font-weight: 200;
    color: $white;
    span img {
      margin-left: .5rem;
      width: .7rem;
    }
    &__childrens {
      display: none;
    }
  }
  
}

.hamburger-icon {
  width: 30px;
  height: 26px;
}

@media screen and (min-width: 600px) {
  .navbar {
    max-width: 900px;
    margin: 0 auto;
  }
  .hamburger-icon {
    display: none;
  }
}
