@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.header {
  position: relative;
  padding: 2rem;
  height: 70vh;
  background: url(../images/bg-pattern-intro.svg) no-repeat, linear-gradient(to bottom right, #ff8f70, #ff3d54);
  background-size: 200%;
  background-position: center;
  border-radius: 0 0 0 9rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 1.4;
}

.hero__title {
  margin-top: -1rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.hero__description {
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.hero .btn-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.hero .btn {
  background: none;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 5rem;
  font-size: .8rem;
  font-weight: 900;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero .btn--primary {
  color: #ff3d54;
  background: white;
}

.hero .btn--primary:hover {
  color: #ff7a85;
}

.hero .btn--outline {
  color: white;
  border: 2px solid white;
}

.hero .btn--outline:hover {
  color: #ff3d54;
  background: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.article {
  margin: 4rem 0;
}

.article--header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f3f5b;
}

.article--description {
  color: #4b5862;
  font-size: .8rem;
  font-weight: 200;
  line-height: 2;
}

.section__img {
  width: 100%;
}

.second-section {
  position: relative;
  height: 40rem;
  margin-bottom: 5rem;
}

.second-section__img {
  width: 100%;
}

.second-section__header {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.second-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.second-section__content::before {
  content: "";
  display: block;
  position: absolute;
  top: 10rem;
  width: 120%;
  height: 32rem;
  background: url(../images/bg-pattern-circles.svg) no-repeat, #25252d;
  background-size: 140%;
  background-position-y: -230px;
  z-index: -2;
  background-position-x: center;
  border-bottom-left-radius: 8rem;
}

.text--white {
  margin-top: 0;
  color: white;
}

.layout {
  width: 100%;
  height: auto;
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
}

.dropdown {
  display: none;
}
/*# sourceMappingURL=styles.css.map */