@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.btn {
  background: none;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 5rem;
  font-size: .8rem;
  font-weight: 900;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn--primary {
  color: #ff3d54;
  background: white;
}

.btn--primary:hover {
  color: #ff7a85;
}

.btn--gradient {
  color: white;
  background: linear-gradient(45deg, #ff8f70, #ff3d54);
  background: red;
}

.btn--outline {
  color: white;
  border: 2px solid white;
}

.btn--outline:hover {
  color: #ff3d54;
  background: white;
}

.header {
  position: relative;
  padding: 2rem;
  height: 70vh;
  background: url(../images/bg-pattern-intro.svg) no-repeat, linear-gradient(to bottom right, #ff8f70, #ff3d54);
  background-size: 200%;
  background-position: center;
  border-radius: 0 0 0 9rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__right {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
}

.nav-dropdown {
  display: flex;
  align-items: center;
}

.nav-dropdown-item {
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
}

.nav-dropdown-item span img {
  margin-left: .5rem;
  width: .7rem;
}

.nav-dropdown-item__childrens {
  display: none;
}

.hamburger-icon {
  width: 30px;
  height: 26px;
}

@media screen and (min-width: 600px) {
  .navbar {
    max-width: 900px;
    margin: 0 auto;
  }
  .hamburger-icon {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 1.4;
}

.hero__title {
  margin-top: -1rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.hero__description {
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

.btn {
  background: none;
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 5rem;
  font-size: .8rem;
  font-weight: 900;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn--primary {
  color: #ff3d54;
  background: white;
}

.btn--primary:hover {
  color: #ff7a85;
}

.btn--outline {
  color: white;
  border: 2px solid white;
}

.btn--outline:hover {
  color: #ff3d54;
  background: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
}

.article {
  margin: 4rem 0;
  padding: 0 2rem;
}

.article--header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f3f5b;
}

.article--description {
  color: #4b5862;
  font-size: .8rem;
  font-weight: 200;
  line-height: 2;
}

.section__img {
  width: 100%;
}

.first-section {
  margin-bottom: 10rem;
}

.second-section {
  position: relative;
  margin: 5rem 0;
  padding: 5rem 2rem;
  width: 100%;
  min-width: 270px;
  background: linear-gradient(to bottom right, #2c2d3f, #3f4164);
  border-top-right-radius: 7rem;
  border-bottom-left-radius: 7rem;
}

.second-section .second-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  z-index: -1;
  background-image: url(../../images/bg-pattern-circles.svg);
}

.second-section .section__img {
  position: absolute;
  top: -200px;
  max-width: 400px;
}

.second-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section__content {
  margin-top: 5rem;
  color: white;
}

.second-section__content h3 {
  font-size: 2rem;
}

.bg-circle {
  position: absolute;
  width: 100px;
}

.text--white {
  margin-top: 0;
  color: white;
}

@media screen and (min-width: 800px) {
  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .first-section .section__img {
    grid-area: 1/2/3/3;
    align-self: center;
    justify-self: center;
  }
  .second-section {
    height: 300px;
  }
  .second-section__wrapper {
    flex-direction: row;
  }
  .second-section .section__img {
    top: -100px;
    left: 0;
  }
  .second-section__content {
    position: absolute;
    width: 50%;
    text-align: left;
    top: -50px;
    right: 20px;
  }
  .third-section {
    margin-bottom: 15rem;
  }
  .third-section .section__img {
    grid-area: 1/1/3/2;
    align-self: center;
  }
  .article {
    margin: 0;
    max-width: 500px;
    min-width: 300px;
    text-align: left;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  background-color: #25252d;
  border-top-right-radius: 7rem;
}

.footer-section img {
  margin: 1rem 0;
}

.footer {
  color: white;
  text-align: center;
  line-height: 2;
}

.footer-item {
  margin-bottom: 2rem;
  font-weight: 600;
}

.footer-item__childrens {
  margin-top: .5rem;
  font-size: .7rem;
  font-weight: 200;
}

.footer-item__childrens li a {
  color: #c8c8cb;
}

.footer-item__childrens li a:hover {
  color: #4b5862;
}

@media screen and (min-width: 800px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    text-align: left;
    gap: 0 6rem;
  }
  .footer-item {
    justify-self: center;
  }
}

.layout {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .navbar,
  .hero {
    max-width: 900px;
    margin: 0 auto;
  }
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .4s ease-out;
}

.modal {
  display: block;
  position: absolute;
  width: 85%;
  height: auto;
  top: 7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  transform-origin: top;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal.active {
  opacity: 1;
}

.dropdown {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4b5862;
  line-height: 2.5;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item span img {
  margin-left: .5rem;
  width: .7rem;
}

.dropdown-item__childrens {
  display: none;
}

.dropdown-item__childrens.active {
  display: block;
  margin: 1rem auto;
  padding: 2rem;
  font-size: .8em;
  font-weight: 400;
  line-height: 2.5;
  color: #4b5862;
  background-color: #d8d8d8;
  border-radius: .7rem;
}

.arrow {
  transform-origin: center;
  transform: rotate(0);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow.active {
  transform: rotate(180deg);
}

.registeration .btn--gradient {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 1rem 2rem;
  background: linear-gradient(45deg, #ff8f70, #ff3d54);
}
/*# sourceMappingURL=styles.css.map */