//Abstracts
@import "./abstracts/abstracts";

//Base Styles
// @import "base/";

//Components
// @import "components/components";

// Layout
@import "./layout/layout";


:root {
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  font-family: $paragraph;
  max-width: $desktop;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: $header;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .4s ease-out;
}

// Dropdown
.dropdown {
  display: none;
}

// Footer
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $veryDarkBlackBlue;
  border-top-right-radius: 7rem;

  img {
    margin: 1rem 0;
  }
}

.footer {
  color: $white;
  text-align: center;
  line-height: 2;
}

.footer-item {
  margin-bottom: 2rem;
  font-weight: 600;

  &__childrens {
    margin-top: .5rem;
    font-size: .7rem;
    font-weight: 200;

    li a {
      color: $grayishBlue;

      &:hover {
        color: $veryDarkGrayishBlue;
      }
    }
  }
}